<nav class="nav-expanded navbar-fixed-top">
  <span class="icon-menu"></span>
  <ul>
    <li><a href=""><button class="bannerbtn">#About</button></a></li>
    <li><a href=""><button class="bannerbtn">#Projects</button></a></li>
    <li><a href=""><button class="bannerbtn">#Contact</button></a></li>
    <!-- <li><a href="#">#Projects</a></li>
    <li><a href="#">#About</a></li>
    <li><a href="#">#Contact</a></li> -->
  </ul>
</nav>
