/* MODAL */

.modal.custom {
    outline:none;

}

.modal.custom .modal-dialog {
    width:90%;
    margin:0 auto;
}

.modaltext h3 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 38px;
  margin-right: 25px;
}

.adrimage {
  margin: 55px 0;
  height: 350px;
  width: 350px;
  border-radius: 50%;
}

/* /MODAL */

/* ABOUT */

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

/* /ABOUT */

/* PROJECTS */

.projects{
  width: 100%;
  margin: 0 auto;
}

/* /PROJECTS */
